
@{
    ViewData["Title"] = "CustomerDetails";
}

<h1>CustomerDetails</h1>
<div class="container">
    <table class=" table table-bordered">
        <tr class="table-dark">
            <th>Customer_id</th>
            <th>Customer_Name</th>
            <th>Customer_city</th>
            <th>Email</th>
        </tr>
        <tr class="table-primary">
            <td>1001</td>
            <td>Anil</td>
            <td>Chennai</td>
            <td>Anil@gmail.com</td>
        </tr>
        <tr class="table-success">
            <td>1002</td>
            <td>prasad</td>
            <td>Chennai</td>
            <td>Prasad@gmail.com</td>
        </tr>
        <tr class="table-primary">
            <td>1003</td>
            <td>durgaprasad</td>
            <td>Chennai</td>
            <td>durgaprasad@gmail.com</td>
        </tr>
        <tr class="table-success">
            <td>1004</td>
            <td>dillep</td>
            <td>hyderabad</td>
            <td>Prasad@gmail.com</td>
        </tr>
        <tr class="table-primary">
            <td>1051</td>
            <td>vishnu</td>
            <td>banglore</td>
            <td>Visgnu@gmail.com</td>
        </tr>
        <tr class="table-success">
            <td>1006</td>
            <td>sreeshanth</td>
            <td>Chennai</td>
            <td>sreeshanth@gmail.com</td>
        </tr>


    </table>

</div>


