@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="jumbotron">


                <h1>ASP.NET MVC MOVIES WEB APPLICATION</h1>
            </div>
           

            <div>

               @Html.ActionLink("List of movies", "Index", "Movies")<br />
                @Html.ActionLink("List of multiplexes", "Index", "Multiplexes")
            </div>
            </nav>
    </div>