@page
@model DemoWebApp.MyRazorPageModel
@{
    ViewData["Title"] = "MyRazorPage";
}

<h1>MyRazorPage</h1>
<html>
<body>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-light bg-light">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">signup</a>
        <a class="nav-link" href="#">Login</a>
        <a class="nav-link" href="#">about</a>
        <a class="nav-link" href="#">contact us</a>
    </nav>
    <div class="=container">
        <div class="table-responsive">
            <table class="table  table-bordered  ">
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
                <tr class="table-primary">
                    <td>chaitanya</td>
                    <td>anil</td>
                    <td>chaitanyaanil@gmail.com</td>
                </tr>
                <tr class="table-success">
                    <td>leela</td>
                    <td>prasad</td>
                    <td>leelaprasad@gmail.com</td>
                </tr>
                <tr class="table-danger">
                    <td>durga</td>
                    <td>prasad</td>
                    <td>durgaprasad@gmail.com</td>
                </tr>
                <tr class="table-warning">
                    <td>dillep</td>
                    <td>subramanyam</td>
                    <td>dilleps@gmail.com</td>
                </tr>
                <tr class="table-secondary">
                    <td>rohit</td>
                    <td>sharma</td>
                    <td>rsharma@gmail.com</td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>
